In [1]:
import pandas as pd
import numpy as np

In [2]:
CCTV_Seoul = pd.read_csv('../cctv/01. CCTV_in_Seoul.csv', encoding = 'utf-8')

In [3]:
CCTV_Seoul.head()

   기관명    소계   방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
0  강남구  3238  2076        261     443         0  458
1  강동구  1010   537         84     125        27  237
2  강북구   831   469         86     108        85   83
3  강서구   911   623         51     182        28   27
4  관악구  2109  1083        161     195        57  613

In [4]:
CCTV_Seoul.columns

Index(['기관명', '소계', '방범용', '도시공원, 놀이터', '어린이 보호', '쓰레기 무단투기', '기타'], dtype='object')

In [5]:
CCTV_Seoul.columns[0]

'기관명'

In [6]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)

In [7]:
CCTV_Seoul.head()

    구별    소계   방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
0  강남구  3238  2076        261     443         0  458
1  강동구  1010   537         84     125        27  237
2  강북구   831   469         86     108        85   83
3  강서구   911   623         51     182        28   27
4  관악구  2109  1083        161     195        57  613

In [8]:
pop_Seoul = pd.read_excel('../cctv/01. population_in_Seoul.xls', 
                          header = 2,
                          parse_col = 'B, D, G, J, N',
                          encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2017.1/4,합계,4202888.0,10197604.0,5000005.0,5197599.0,9926968.0,4871560.0,5055408.0,270636.0,128445.0,142191.0,2.36,1321458.0
1,2017.1/4,종로구,72654.0,162820.0,79675.0,83145.0,153589.0,75611.0,77978.0,9231.0,4064.0,5167.0,2.11,25425.0
2,2017.1/4,중구,59481.0,133240.0,65790.0,67450.0,124312.0,61656.0,62656.0,8928.0,4134.0,4794.0,2.09,20764.0
3,2017.1/4,용산구,106544.0,244203.0,119132.0,125071.0,229456.0,111167.0,118289.0,14747.0,7965.0,6782.0,2.15,36231.0
4,2017.1/4,성동구,130868.0,311244.0,153768.0,157476.0,303380.0,150076.0,153304.0,7864.0,3692.0,4172.0,2.32,39997.0

In [9]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
                          pop_Seoul.columns[1] : '인구수',
                          pop_Seoul.columns[2] : '한국인',
                          pop_Seoul.columns[3] : '외국인',
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

,구별,인구수,한국인,외국인,고령자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2017.1/4,합계,4202888.0,10197604.0,5000005.0,5197599.0,9926968.0,4871560.0,5055408.0,270636.0,128445.0,142191.0,2.36,1321458.0
1,2017.1/4,종로구,72654.0,162820.0,79675.0,83145.0,153589.0,75611.0,77978.0,9231.0,4064.0,5167.0,2.11,25425.0
2,2017.1/4,중구,59481.0,133240.0,65790.0,67450.0,124312.0,61656.0,62656.0,8928.0,4134.0,4794.0,2.09,20764.0
3,2017.1/4,용산구,106544.0,244203.0,119132.0,125071.0,229456.0,111167.0,118289.0,14747.0,7965.0,6782.0,2.15,36231.0
4,2017.1/4,성동구,130868.0,311244.0,153768.0,157476.0,303380.0,150076.0,153304.0,7864.0,3692.0,4172.0,2.32,39997.0

In [10]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2013-01-01 -0.158957 -1.809488 -1.356200 -0.021280
2013-01-02  0.088335  0.412646 -1.634458 -0.571167
2013-01-03 -0.027539 -0.047903  0.080359  0.526358
2013-01-04 -1.295652  1.777114  1.276064  0.140310
2013-01-05 -0.104653  2.177169 -0.792887  1.166733
2013-01-06  1.094503 -0.925572  0.102497 -0.538587

In [13]:
df.head(3)

                   A         B         C         D
2013-01-01 -0.158957 -1.809488 -1.356200 -0.021280
2013-01-02  0.088335  0.412646 -1.634458 -0.571167
2013-01-03 -0.027539 -0.047903  0.080359  0.526358

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[-0.15895744, -1.8094884 , -1.35620031, -0.0212801 ],
       [ 0.0883346 ,  0.41264569, -1.63445819, -0.57116691],
       [-0.02753899, -0.0479033 ,  0.08035862,  0.5263584 ],
       [-1.29565196,  1.77711446,  1.27606372,  0.14031042],
       [-0.10465255,  2.17716888, -0.79288665,  1.16673326],
       [ 1.09450336, -0.92557236,  0.10249668, -0.53858704]])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.067327  0.263994 -0.387438  0.117061
std    0.760820  1.535158  1.084809  0.662200
min   -1.295652 -1.809488 -1.634458 -0.571167
25%   -0.145381 -0.706155 -1.215372 -0.409260
50%   -0.066096  0.182371 -0.356264  0.059515
75%    0.059366  1.435997  0.096962  0.429846
max    1.094503  2.177169  1.276064  1.166733

In [19]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-05 -0.104653  2.177169 -0.792887  1.166733
2013-01-04 -1.295652  1.777114  1.276064  0.140310
2013-01-02  0.088335  0.412646 -1.634458 -0.571167
2013-01-03 -0.027539 -0.047903  0.080359  0.526358
2013-01-06  1.094503 -0.925572  0.102497 -0.538587
2013-01-01 -0.158957 -1.809488 -1.356200 -0.021280

In [20]:
df

                   A         B         C         D
2013-01-01 -0.158957 -1.809488 -1.356200 -0.021280
2013-01-02  0.088335  0.412646 -1.634458 -0.571167
2013-01-03 -0.027539 -0.047903  0.080359  0.526358
2013-01-04 -1.295652  1.777114  1.276064  0.140310
2013-01-05 -0.104653  2.177169 -0.792887  1.166733
2013-01-06  1.094503 -0.925572  0.102497 -0.538587

In [21]:
df['A']

2013-01-01   -0.158957
2013-01-02    0.088335
2013-01-03   -0.027539
2013-01-04   -1.295652
2013-01-05   -0.104653
2013-01-06    1.094503
Freq: D, Name: A, dtype: float64

In [22]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.158957 -1.809488 -1.356200 -0.021280
2013-01-02  0.088335  0.412646 -1.634458 -0.571167
2013-01-03 -0.027539 -0.047903  0.080359  0.526358

In [23]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.088335  0.412646 -1.634458 -0.571167
2013-01-03 -0.027539 -0.047903  0.080359  0.526358
2013-01-04 -1.295652  1.777114  1.276064  0.140310

In [24]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.158957 -1.809488
2013-01-02  0.088335  0.412646
2013-01-03 -0.027539 -0.047903
2013-01-04 -1.295652  1.777114
2013-01-05 -0.104653  2.177169
2013-01-06  1.094503 -0.925572

## pandas 이용해서 CCTV와 인구현황 데이터 파악하기

In [25]:
CCTV_Seoul.sort_values(by='소계', ascending=True).head(5)

     구별   소계  방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
9   도봉구  825  260         89      89        47  340
2   강북구  831  469         86     108        85   83
5   광진구  878  376         51     208        72  171
3   강서구  911  623         51     182        28   27
24  중랑구  916  532         74      54         0  256

In [26]:
CCTV_Seoul.sort_values(by='소계', ascending=False).head(5)

     구별    소계   방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
0   강남구  3238  2076        261     443         0  458
18  양천구  2482  1216         77     722        19  448
14  서초구  2297  1552         62     316         0  367
4   관악구  2109  1083        161     195        57  613
21  은평구  2108  1147        196     527         3  235

In [28]:
CCTV_Seoul['최근증가율'] = (CCTV_Seoul['2016년'] + CCTV_Seoul['2015년'] + \
                           CCTV_Seoul['2014년']) / CCTV_Seoul['2013년도 이전'] * 100

CCTV_Seoul.sort_values(by='최근증가율', ascending=False).head(5)

KeyError: '2016년'